<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${courseModel.name}">A course</title>
</head>
<body>

        <h1 th:text="${courseModel.name}">A Single Course</h1>
   

    <main>dog
        <p th:text="${courseModel.description}"></p>
    </main>

    <form method="POST">
        <button type="submit" th:value="${courseModel.id}" name="courseId" th:formaction="@{del-course}">delete</button>
    </form>


    <p><a href="/courses">back to list of courses</a></p>







    <footer>
         <small>&copy WCCI 2020</small>
    </footer>

</body>
</html>