<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>A List of All Topics</title>
</head>

<body>

	<header>
		<h1>A List of All Topics</h1>
	</header>
	<main>
		<section class="add-topic">

			<input type="text" placeholder="Add a topic" />
			<button>Submit Topic</button>

		</section>

		<section class="topics-list">

			<h2>Here is a List of Our Topics</h2>

			<ul>
				<li th:if="${topicsModel.size() ==0}">No topics...Add one</li>
				<li th:if="${topicsModel.size()!=0}" th:each="topic: ${topicsModel}">
					<input class="topicId" name="id" type="hidden" th:value="${topic.id}"/> <!--need to copy into partials, too-->
					<a th:href="|/topic/${topic.id}|" th:text="${topic.name}"></a> <!--getTopicName-->
					<button class="x">&times;</button>
				</li>
			</ul>


		</section>

	</main>

	<footer>
		<small>&copy WCCI 2020</small>
	</footer>

<script src = "./js/server-requests.js"></script>


</body>

</html>