<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text= "${topicModel}"></title>
</head>
<body>

    
    <header>
        <h1>A Topic</h1>
    </header>

	

		<h2 th:text="${topicModel.name}"></h2>
		<a href="http://localhost:8080/courses">Back to Courses home </a>
		

  
	<ul th:each="course: ${courses}">
		<li>
		<a th:href="@{/course(id=${course.id})}" th:text="${course.name}"></a>
		</li>
	</ul>




    <footer>
        <small>&copy WCCI 2020</small>
    </footer>

</body>
</html>